container{
  position: relative;
}
.leftbox{
position: absolute;
top: 1070px;
left: -654.7056884765625px;
width: 1652px;
height: 1316px;
}
.rightbox{
  position: absolute;
  top: 1061px;
  left: 1250px;
  width: 718px;
  height: 720px;
  opacity: 1;
}
.rightarrowclass{
  position: absolute;
  top: 1694px;
  left: 1079px;
  width: 38px;
  height: 47px;
  opacity: 1;
}
.about{
  position: absolute;
  top: 1690px;
  left: 1123px;
  width: 124px;
  height: 35px;
  font: normal normal 600 25px/50px Poppins;
  color: #0E77FF;

}
.blackabout{
  position: absolute;
  top: 1750px;
  left: 1079px;
  width: 420px;
  height: 56px;
  text-align: left;
  font: normal normal 600 40px/50px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.blackdownabout{
  position: absolute;
  top: 1860px;
  left: 1080px;
  width: 585px;
  height: 65px;
  text-align: left;
  font-family: Poppins;
  font-size: 22px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.abouttempfont{
  position:absolute;
  top: 1935px;
  left: 1080px;
  width: 585px;
  height: 166px;
  text-align: left;
  font: normal normal 300 18px/32px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.getbutton{
  position: absolute;
  font-size: 25px;
  color: blue;
  top: 2110px;
  left: 1079px;
  width: 239px;
  height: 72px;
  border: 2px solid #0E77FF;
  border-radius: 35px;
  opacity: 1;
}
.last{
  position: absolute;
  top: 2000px;
  left: 1578px;
  width: 560px;
  height: 581px;
  opacity: 1;
}

.blue-rectangle {
  position: absolute;
  top: 2675px;
  left: 1418px;
  width: 502px;
  height: 889px;
  background: #0E77FF 0% 0% no-repeat padding-box;
  opacity: 1;
}
.services{
  position: absolute;
  top: 2924px;
  left: 325px;
  width: 176px;
  height: 35px;
  text-align: left;
  font: normal normal 600 25px/50px Poppins;
  letter-spacing: 0px;
  color: #0E77FF;
  opacity: 1;
}
.leftarrowclass{
  position: absolute;
  top: 2918px;
  left: 280px;
  width: 38px;
  height: 47px;
  opacity: 1;
}
.blackservices{
  position: absolute;
  top: 2970px;
  left: 280px;
  width: 500px;
  height: 156px;
  text-align: left;
  font: normal normal 600 40px/50px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.webdev{
   position: absolute;
top: 3111px;
left: 280px;
width: 239px;
height: 61px;
background: #16B2FF17 0% 0% no-repeat padding-box;
border-radius: 16px;
opacity: 1;

text-align: center;
font: normal normal 600 20px/50px Poppins;
letter-spacing: 0px;
color: #0E77FF;
}
.mobdev{
   position: absolute;
top: 3111px;
left: 555px;
width: 257px;
height: 61px;
background: #16B2FF17 0% 0% no-repeat padding-box;
border-radius: 16px;
opacity: 1;
text-align: center;
font: normal normal 600 20px/50px Poppins;
letter-spacing: 0px;
color: #0E77FF;
}
.brand{
   position: absolute;
top: 3191px;
left: 524px;
width: 160px;
height: 61px;
background: #16B2FF17 0% 0% no-repeat padding-box;
border-radius: 16px;
opacity: 1;
text-align: center;
font: normal normal 600 20px/50px Poppins;
letter-spacing: 0px;
color: #0E77FF;
}
.uiux{
   position: absolute;
top: 3191px;
left: 280px;
width: 221px;
height: 61px;
background: #0E77FF 0% 0% no-repeat padding-box;
border-radius: 16px;
opacity: 1;
text-align: center;
font: normal normal 600 20px/50px Poppins;
letter-spacing: 0px;
color: white;

}
.cloud{
   position: absolute;
top: 3271px;
left: 280px;
width: 244px;
height: 61px;
background: #16B2FF17 0% 0% no-repeat padding-box;
border-radius: 16px;
opacity: 1;
text-align: center;
font: normal normal 600 20px/50px Poppins;
letter-spacing: 0px;
color: blue;
}
.icon{
  position: absolute;
  top: 2857px;
  left: 1079px;
  width: 97px;
  height: 97px;
  opacity: 1;
}
.blackicon{
  position: absolute;
  top: 2881px;
  left: 1209px;
  width: 361px;
  height: 61px;
  text-align: left;
  font: normal normal 600 40px/110px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.white-rectangle{
   position: absolute;
   top: 2821px;
   left: 1021px;
   width: 948px;
   height: 595px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   box-shadow: 0px 30px 60px #0E77FF26;
   opacity: 1;
}
.icontempfont{
  position: absolute;
  top: 2990px;
  left: 1079px;
  width: 560px;
  height: 152px;
  text-align: left;
  font: normal normal normal 16px/30px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.check1{
position: absolute;
top: 3116px;
left: 1079px;
width: 41px;
height: 41px;
opacity: 1;
}
.check2{
position: absolute;
top: 3174px;
left: 1079px;
width: 41px;
height: 41px;
opacity: 1;

}
.check3{
position: absolute;
top: 3232px;
left: 1079px;
width: 41px;
height: 41px;
opacity: 1;
}
.check4{
position: absolute;
top: 3290px;
left: 1079px;
width: 41px;
height: 41px;
opacity: 1;
}